*{
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}
/* start of header */

.navbor{
    height: 60px;
    width:calc( 100% - 20px );
    background-color: black;
    position: fixed;
    box-shadow: 1px 1px 1px 1px rgb(250, 248, 248);
    z-index: 3;
}
.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.ul li{
    list-style-type: none;
}
.ul a{
    color: white;
    text-decoration: none;
}
.ul a:hover{
    color: black;
    background-color: #d8d6d6;
    padding: 20px;
    box-shadow: 10px 10px 5px 5px rgb(197, 195, 195);
}
/* start of hero */
.image{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position : relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ch2{
    width: 300px;
    color: white;
    font-size: 100px;
    text-align: center;
}
.ch3{
    color: white;
    background-color: black;
    font-size: 20px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.ch4{
    color: white;
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.search{
    border-radius: 0 25px 0 25px;
    box-shadow: 2px 2px 2px 2px black;
    width: 500px;
    height: 50px;
    font-size: 25px;
}
.search:focus{
    background-color: #000000;
    color: #f8efef;
}
.but-search{
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
}
.but-search:hover{
    background-color: #d8d6d6;
    color: #000000;
}
/* the end of header */
/* start of main */
.main{
    background-color: #808080;
    width:  100%;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
}
.h1{
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    margin-left: 170px;
    padding: 3px;
}
.find{
    width: 600px;
    padding: 10px;
}
.add{
    width: 600px;
    padding: 10px;
}
.bord{
    width: 600px;
    border-left: 15px solid rgb(69, 68, 68);
    background-color:  #7b7b7b;
}
#menu{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #808080;
}
.name{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size:30px;
    background-color: black;
    color: white;
    padding: 6px;
}
.food{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 165, 165);
    box-shadow: 1px 1px 3px 3px rgb(95, 92, 92);
}
.eat{
    width:600px;
    font-size: 30px;
    background-color: #3b3838;
    color: white;
    margin: 10px;
    text-align: center;
}
.drink{
    width:600px;
    font-size: 30px;
    background-color: rgb(168, 165, 165);
    color: black;
    padding: 10px;
    text-align: center;
    border: none;
}
.content{
width:600px;
text-align: start;
box-shadow: 1px 1px 3px 3px rgb(95, 92, 92);
}
.content h5{
    color: black;
}
.content p{
    color: #eee;
}
#img{
    margin-top: 50px;
    margin-bottom: 50px;
}
#find{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.where{
    width: 300px;
    font-size:20px;
    background-color: black;
    color: white;
    margin:auto;
    padding: 6px;
    text-align: center;
}
.place{
    text-align: start;

}
.par{
    width: 600px;
}
.span{
    background-color: black;
    color: #eee;
    padding: 3px;
}
.fyl{
    text-align: start;
    margin: auto;
}
.form{
    width: 30%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}
.form input{
    height: 10%;
    width: 600px;
}
.form input:focus{
    background-color: rgb(13, 205, 212);
    color: black;
}
#button{
    width: 100px;
    height: 40px;
    font-size:10px;
    background-color: black;
    color: white;
    border: none;
    margin-right: 510px;
}
#button:hover{
    background-color: #e6dada;
    color: #000000;
}
/* the end of main */
/* start of footer */
.footer{
    width: 100%;
    height: 90px;
    background-color: #696464;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer div{
    height: 40px;
}
.footer div a{
    color: black;
}
.footer div a:hover{
    color: rgb(14, 201, 218);
    background-color: #000000;
}
/* the end of footer */